---
layout: default
---
<div class="page-titile-wraper aboutme-wraper">
  <div class="container">
    <div class="row">
      <div class="col-md-3"><img src="assets/patanamon.jpg" style= "margin-top:20px" class="img-responsive img-circle">
          
      </div>
      <div class="col-md-9"> 
        <h3 id="about">About me</h3>
        <p class="text-justify">I'm a lecturer at the School of Computer Science, the University of Adelaide. My research goals are directed towards uncovering empirical evidence and extracting knowledge from data recorded in software repositories by using statistical analysis. In particular, my research is focused on understanding and improving developer collaboration practices. Nowadays, the variety of collaboration activities which can be found in large software repositories have provided opportunities and challenges for software engineering researchers and practitioners. Therefore, I am keen to perform research that (1) incorporates the various types of collaboration activities, (2) gleans actionable insights for software engineering management, and (3) provides tool support for software developers in order to improve software quality.</p>

        <b>Contact:</b> patanamon.thongtanunam {at} adelaide.edu.au
        
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <p class="well recruit">
          I'm open to working with Master/Ph.D. students who enthusiastically want to learn how to mine big data and discover knowledge for our software engineering society! Feel free contact me if you are interested ;)
      </p>
    </div>
    <div class="col-md-9" role="main">

        <h2 id="publications" class="page-header">Publications</h2>
        <ol class="paper-list">
          {% for paper in site.papers reversed %}
          <li> 
              <h4 class="media-heading">
                <a href="{{paper.url}}">{{paper.title}}</a>
              </h4>
               {% if paper.award %}<img src="assets/star.png" width="28"><b>{{paper.award}}</b><img src="assets/star.png" width="28"><br/>{% endif %}
              <label>Authors:</label> {{paper.authors}} <br/>
              <label>Venue:</label> {{paper.venue}} <br/>
              {% if paper.acceptance %}
              <label>Acceptance Rate:</label> {{paper.acceptance}} <br/>
              {% endif %}
               {% if paper.preprint %}<label>Preprint:</label> <a href="{{paper.preprint}}">PDF</a>{% endif %}{% if paper.preprint_2 %} or <a href="{{paper.preprint_2}}">PDF (server 2)</a>{% endif %}  {% if paper.feature %}; {{paper.feature}}{% endif %}              
          </li> 
          {% endfor %}
        </ol>

        <h2 id="publications" class="page-header">Theses</h2>
        <ol class="paper-list">

          {% for thesis in site.theses reversed %}
          <li> 
              <h4 class="media-heading">
                <a href="{{thesis.url}}">{{thesis.title}}</a>
              </h4>
               {% if thesis.award %}<img src="assets/star.png" width="28"><b>{{thesis.award}}</b><img src="assets/star.png" width="28"><br/>{% endif %}
              <label>Author:</label> {{thesis.authors}} <br/>
              <label>Degree:</label> {{thesis.degree}} <br/>
              <label>Venue:</label> {{thesis.venue}} <br/>
              <label>Publication Year:</label> {{thesis.pubyear}} <br/>
          </li> 
          {% endfor %}
        </ol>

        <h2 id="recognition" class="page-header">Recognition</h2>
        <div class="row">
          <div class="col-md-12">
            <h3 class="sub-header">Grants & Scholarships</h3>
            <ol class="paper-list" id="grants">
              {% for scholar in site.data.scholarships %}
              <li>
                <b><a href="{{scholar.url}}" target="_blank">{{scholar.name}}</a></b><br/>
                <b>Detail:</b> {{scholar.detail}} <br/> 
                <b>Amount:</b> {{scholar.value}} <br/> 
              </li> 
              {% endfor %}
            </ol>
          </div>
          <div class="col-md-12">
            <h3 class="sub-header">Awards</h3>
            <ol class="paper-list">
              {% for award in site.data.awards %}
              <li> 
                <b>{{award.name}}</b><br/>
                {{award.detail}} <br/> 
              </li> 
              {% endfor %}
            </ol>
          </div>
        
      
          <div class="col-md-12">
            <h3 class="sub-header">Community Services</h3>
            <ol class="paper-list" id="grants">
              {% for service in site.data.services %}
              <li>
                <b>{{service.name}}</b><br/>
                <ul>
                  {% for venue in service.venues %}
                  <li>{{venue.name}}</li>
                  {% endfor %}
                </ul> 
              </li> 
              {% endfor %}
            </ol>
          </div>
          <div class="col-md-12 sub-box">
            <h3 class="sub-header">Research Collaborations</h3>
            <ul class="paper-list">
              {% for collaboration in site.data.collaborations %}
              <li> 
                <b>{{collaboration.name}}</b> Co-authored paper{% if collaboration.papers.size > 1%}s{% endif %}: 
                {% for paper in collaboration.papers %}
                  {{paper.name}}
                {% endfor %}
              </li> 
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-12 sub-box">
            <h3 class="sub-header">Public Talks</h3>
            <ul class="paper-list">
              {% for talk in site.data.talks %}
              <li> 
                {{talk.title}}<br/>
                <label>Venue:</label> 
                {% if talk.venue_link %}
                    <a href="{{talk.venue_link}}">{{talk.venue}}</a>
                {% else %}
                    {{talk.venue}}
                {% endif %}
                <br/>

                <label>Date:</label> {{talk.date}}
              </li> 
              {% endfor %}
            </ul>
          </div>
        </div>
    </div>
    {% include sidebar.html %}
  </div>
</div>

