  <header class="navbar navbar-static-top bs-docs-nav custom_navbar navbar-fixed-top" id="top" role="banner">
    <div class="color_wrapper"></div>
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand custom-navbar-brand">Patanamon (Pick) Thongtanunam</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#about">About</a></li>
        <li><a href="/#publications">Publications</a></li>
        <li><a href="/#recognition">Recognition</a></li>
        <li><a href="/#activity">Activities</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="nav-space"></div>