    <div class="col-md-3 panel panel-default side-bar">
      <div class="panel-body">
        <p class="lead panel-sub-head">Recognition</p>
        <p class="lead"><img src="/assets/grant.png"> x {{site.data.scholarships.size}} Grants</p>
        <p class="lead"><img src="/assets/award.png"> x {{site.data.awards.size}} Awards</p>
    
        <p class="lead panel-sub-head">Publications</p>
        {% assign years = site.papers | group_by:"s_venue" %}
        {% for year in years reversed %}
        <span class="lead"> <span class="label my-label" style="margin-right:1px"> {{year.name}} x {{year.items.size}} </span></span>
        {% endfor %}
      </div>
    </div>